<!DOCTYPE html>
<html>
<head>
    <title>Update Taluka Information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Update Taluka Information</h2>

    <div class="form-group">
        <label for="givenId">Taluka ID</label>
        <input type="text" class="form-control" id="givenId" disabled placeholder="{{ taluka_id }}" value="{{ taluka_id }}">
    </div>

    <div class="form-group">
        <label for="oldTalukaName">Old Taluka Name</label>
        <input type="text" class="form-control" id="oldTalukaName" disabled placeholder="{{ taluka_name }}">
    </div>

    <div class="form-group">
        <label for="newTalukaName">New Taluka Name</label>
        <input type="text" class="form-control" id="newTalukaName">
    </div>

    <button type="button" class="btn btn-primary" onclick="updateTaluka()">Update</button>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // Function to update Taluka
    function updateTaluka() {
        const newTalukaName = document.getElementById('newTalukaName').value;
        const taluka_id = document.getElementById('givenId').value;
        // Construct the data object to be sent to Flask
        const data = {  talukaID: taluka_id,
                        newTalukaName: newTalukaName };

        // Send a POST request to the Flask API
        fetch('/edit_taluka', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                // Handle success, such as displaying a message or performing other actions
                console.log('Taluka updated successfully.');
                // Redirect to success page
                window.location.href = "/successUpdate";
            } else {
                // Handle error scenarios
                console.error('Failed to update Taluka.');
            }
        })
        .catch(error => {
            // Handle fetch error
            console.error('Error:', error);
        });
    }
</script>

</body>
</html>
